.bookCard {
  width: 15%;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1.5rem;
}

.bcImg {
  width: 100%;
}

.bcTitle {
  font-family: just another hand, sans-serif;
}

.bcAuthors {
  font-family: var(--secTxt);
  font-size: 0.87rem;
}

.bcFavBtn {
  width: 80%;
  padding: 5px auto;
  font-family: var(--secTxt);
  background-color: blue;
  color: white;
  border-radius: 10px;
}
