.bookCard {
  width: 100%;
  background-color: var(--contrastG);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: var(--cardShadow);
}

.bookCard:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.76);
  transform: scale(102%);
}

.imgWrapper {
  width: 100%;
  height: 280px;
  border-radius: 2px;
  overflow: hidden;
}

.bcImg {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  object-fit: contain;
}

.bcTitle {
  font-family: var(--secTxt);
  height: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* show max 2 lines */
  line-clamp: 2; /* standard property for compatibility */
  overflow: hidden;
  text-overflow: ellipsis;
}

.bcAuthors {
  font-family: var(--secTxt);
  font-size: 0.87rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* show max 2 lines */
  line-clamp: 1; /* standard property for compatibility */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.bcFavBtn {
  width: 80%;
  padding: 0.5rem auto;
  font-family: var(--secTxt);
  background-color: var(--secCol);
  color: var(--lightTxt);
  border-radius: 10px;
  box-shadow: var(--cardShadow);
}
