.catList {
  padding: 1rem 0;
}

.catCard {
  background-color: cyan;
  width: 6.25%;
  border: 1.25px solid white;
  border-radius: 20px;
  padding: 0.75rem;
}

/* .catIcon {
  width: 48px;
} */

.catName {
  font-size: 0.9rem;
}
