.catList {
  padding: 1rem 0;
}

.catCard {
  background-color: var(--contrastB);
  width: 6.25%;
  border: 1.75px solid var(--contrastG);
  border-radius: 20px;
  padding: 0.75rem 0.75rem 0;
}

/* .catIcon {
  width: 48px;
} */

.catName {
  font-family: var(--headerTxt);
  font-size: 1.5rem;
  letter-spacing: 2%;
  color: var(--darkTxt);
}
