.catList {
  padding: 1rem 0;
}

.catCard {
  background-color: var(--contrastB);
  width: 6.25%;
  border: 1.75px solid var(--contrastG);
  border-radius: 20px;
  padding: 0.75rem 0.75rem 0;
  box-shadow: var(--cardShadow);
}

.catIcon {
  width: 75%;
  height: auto;
}

.catName {
  font-family: var(--headerTxt);
  font-size: 1.75rem;
  letter-spacing: 2.5%;
  color: var(--darkTxt);
}
