.wholeFooter {
  width: 100%;
  background-color: var(--primaryCol);
  border-top: 2px solid var(--contrastG);
  position: relative;
  bottom: 0;

  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
  font-size: 0.87rem;
}

.upperFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.storySection {
  width: 50%;
}

.linkSection {
  width: 20%;

  display: flex;
  flex-direction: column;
}

.bottomSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}
