@import "tailwindcss";

:root {
  --primaryCol: #b07c99;
  --secCol: #4f1645;
  --bgCol: #ede7eb;
  --contrastG: #a8b8a8;
  --contrastB: #a6b5e1;
  --highlight: #bcc6cc;
  --lightTxt: #fff;
  --darkTxt: #270b22;
  --headerTxt: just another hand, sans-serif;
  --secTxt: delius, sans-serif;
  --bodyTxt: calibri, sans-serif;
  --cardShadow: 5px 5px 10px rgba(65, 65, 65, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  background-color: var(--bgCol);
  font-family: var(--bodyTxt);
  font-size: 1rem;
  color: var(--darkTxt);
}

.loading {
  font-family: var(--headerTxt);
  font-size: 3rem;
  margin: 7.5% auto auto 10%;
}
