.wholeHeader {
  background-color: var(--primaryCol);
  border-bottom: 2px solid var(--contrastG);
}

.topSection {
  padding-top: 0.5rem;
}

.logo {
  gap: 0.5rem;
}

.logo:hover {
  cursor: pointer;
}

.headIcon {
  width: auto;
}

.title {
  font-family: var(--headerTxt);
  font-size: 2.5rem;
  color: var(--darkTxt);
  line-height: 2.25rem;
}

.title::after {
  content: "";
  display: block;
  width: 120px;
  height: 2.5px;
  background-color: var(--contrastG);
}

.favBtn {
  border: 1.75px solid var(--contrastG);
  border-radius: 15px;
  padding: 0.5rem;
  width: 175px;
  background-color: var(--contrastB);
  box-shadow: var(--cardShadow);
}

.favIcon {
  height: 2.25rem;
  width: auto;
}

.favText {
  font-family: var(--secTxt);
  color: var(--darkTxt);
  line-height: 100%;
}
