.wholeHeader {
  background-color: white;
}

.topSection {
  padding-top: 0.5rem;
}

.logo {
  gap: 0.5rem;
}

.headIcon {
  width: auto;
}

.title {
  font-family: just another hand, sans-serif;
  font-size: 2.5rem;
}

.favBtn {
  border: 1.25px solid black;
  border-radius: 15px;
  padding: 0.5rem;
}

.favIcon {
  height: 48px;
  width: auto;
}

.favText {
  padding-bottom: 0.25rem;
}
