/* .pageCtrl {
  width: 100%;
  padding: 1rem auto;
} */

.pageCtrl button {
  background-color: var(--contrastB);
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--secCol);
  border-radius: 25px;
  box-shadow: var(--cardShadow);
}

.prevBtn {
  position: absolute;
  left: 5%;
}

.nextBtn {
  position: absolute;
  right: 5%;
}

.pageIndicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pageIndicator::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  content: "";
  display: block;
  width: 2.4rem;
  height: 1.5px;
  background-color: var(--darkTxt);
}
