.searchForm {
  font-family: var(--secTxt);
  border-radius: 20px;
  border: 1.75px solid var(--secCol);
  box-shadow: var(--cardShadow);
}

.searchInput {
  width: 300px;
  border-radius: 20px 0 0 20px;
  padding: 0.5rem;
}

.searchInput:focus {
  border: none;
}

.searchBtn {
  background-color: var(--contrastG);
  border-radius: 0 20px 20px 0;
  border-left: 1.5px solid var(--secCol);
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}
